
*.dylib
desktop/Scratch/macOS/Daric
desktop/Scratch/Syntax
desktop/Scratch/macOSM1/Daric
*.o
desktop/Scratch/macOSX64/Daric
*.a
.DS_Store
dist/bin/Daric
.DS_Store
.DS_Store
book/DARIC Book 2.aux
book/DARIC Book 2.log
book/DARIC Book 2.out
book/DARIC Book.aux
book/DARIC Book.log
book/DARIC Book.out
book/DARIC Book.synctex.gz
book/DARIC Book.toc
